body{
    background-color: #060d2f;
    
}
#navBar{
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-size: 40px;
    padding: 1px;
}
div{
    border: solid;
    border-color: #97bbfe;
    border-width: 5px;
    border-radius: 10px;
    margin: 30px;
}
.contA{
    display: flex;
}
#about{  
    border:none;
    font-size: 25px;
    height: 150px;
    width: 200px;
    color: white;
}
#aInfo{
    border:none;
    font-size: 30px;
    color: white;
    width: 1200px;
    height: 300px;
    padding-top: 25px;
}
#skills{
    border:none;
    color: white;
    width: 300px;
    height: 100px;
}
#sInfo{
    border:none;
    width: 1000px;
    color: white;
    font-size: 30px;
}
.contS{
    display: flex;
}

#topInfo{
    border:none;
    text-align: left;
    font-size: 25px;
    color: cyan;
}
img{
    height: 300px;
    width: 300px;
    padding-left: 10px;
    padding-top: 10px;
}
.parent {
    border: none;
    display: flex;
    justify-content: space-evenly;
}
#projectDiv{
    border:none;
    display:flex;
    justify-content: space-evenly;
}
.innerDiv{
    border:none;
    margin: 20px;
    width: 300px;
}
#pokemon{
    color: cyan;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;      
}
#ball{
    color: cyan;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#collision{
    color:cyan;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}



